body {
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: 'Roboto Slab', serif;
  font-weight: 300;
  color: #111;
  background: #edeff0;
  background-image: url('svgs/background.svg');
}

#container {
  max-width: 960px;
  background: #fff;
  margin: 0 auto;
  height: 100%; /* new line */
}

p {
  max-width: 350px;
  margin: 35px auto 0;
  line-height: 2em;
  text-align: left;
}

a {
  text-decoration: none;
  color: #39add1;
  fill: #39add1;
  font-weight: 700;
  margin-right: 5px;
}

a:hover {
  color: #ef8f88;
  fill: #ef8f88;
}

header {
  padding-top: 10px;
}

header nav {
  padding-bottom: 50px;
  text-align: left;
  list-style-type: none;
  margin-left: 20px;
}

li {
  display: inline-block;
}

main {
  padding-top: 50px;
}

main h2 {
  font-size: 28px;
}

footer {
  width: 100%;
  margin-top: 100px;
  padding-bottom: 30px;
  color: #ba8058;
}

/* Navigation */
.nav-icon {
  margin-right: 5px;
}

@media (min-width: 425px) {

  #container {
    width: 85%;
  }

}
